@import "custom";

.App {
  background-color: $clr-dark;
  min-height: 100vh;
  .app-container {
    padding: 0.5em;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  form .searchCity {
    width: 100%;
    border-radius: 99px;
    border: 0;
    padding: 0 1em;
    height: 2.5em;
    background-color: $clr-dark;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.6);
  }

  form .searchCity:focus {
    outline: none;
  }

  form .searchCity::placeholder {
    color: rgba(238, 238, 238, 0.6);
  }
}
